
.form_container {
    position: relative;
    border-left: 1px solid #D1C695;
    overflow-y: scroll;
    width: 95%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    -webkit-box-shadow: 2px 2px 4px 1px #9099A2;
            box-shadow: 2px 2px 4px 1px #9099A2;
}

.form_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    font-size: 1.3em;
    color: #D9FBFC;
}

form {
    position: absolute;
    top: 0;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}

form#delete input[type='submit'] {
    background: #e8135a;
}

form#delete input[type='submit']:hover {
    background: #932142;
}

.form_container fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 10px;
    border: none;
    border-top: 1px dotted #D1C695;
    border-left: 1px dotted #D1C695;
    border-radius: 5px;
    background: transparent;
}

fieldset:last-child {
  background-color: transparent;
  border: none;
  width: 100%;
}

.form_container legend {
  font-style: italic;
  font-weight: bolder;
  color: #00273F;
}

input:not([type='checkbox']), select {
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #BBF5F9;
  height: 35px;
  width: 50%;
  margin: 10px auto;
  font-size: .975em;
}

input[name=submit] {
  background-color: #00396D;
  box-shadow: 2px 3px 5px #00273f;
  border: none;
  padding: 5px;
  color: white;
  margin-left: 0;
  cursor: pointer;
  width: 100%;
}

input[name='submit']:hover {
  background-color: #d1c695;
  box-shadow: 2px 3px 5px #4c4502;
}

input[type='text'], input[type='password'], input[type='email'], select{
    background-color: #E5E8EA;
    min-width: 80%;
}

select option {
    /* color: red; */
}

input {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  padding-left: 5px !important;
}

fieldset:not(:last-child) input:focus, select {
  -webkit-box-shadow: 0px 0px 5px 1px #F7FCFC;
          box-shadow: 0px 0px 5px 1px #F7FCFC;
  outline: none;
  width: 51%;
}
