.SideMenuToggler {
    display: None;
    height: 40px;
    width: 40px;
    padding: 10px 2px;
    border-radius: 30%;
    transition: padding .4s ease-out;
    cursor: pointer;
}

.SideMenuToggler:hover {
    box-shadow: -3px -2px 5px #00273F inset;
    transform: scale(1.05);
}

.SideMenuToggler span {
    transition: all .5s ease-out;
    height: 2px;
    width: 75%;
    background: #8DEAF7;
}

.SideMenuToggler:hover span {
    background-color: #D1C695;
}

.SideMenuToggler.invisible {
    padding: 20px 2px;
    border: None;
    box-shadow: None;
}

.SideMenuToggler.visible span{
    transform: scaleX(1);
}

.SideMenuToggler.invisible span:first-child{
    transform: scaleX(0);
}

.SideMenuToggler.invisible span:nth-child(2){
    transform: scaleX(.6);
}

.SideMenuToggler.invisible span:last-child{
    transform: scaleX(0);
}

@media (max-width: 700px) {
    .SideMenuToggler {
        display: Flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
    }
}
