.SearchField article {
    height: 100px;
    width: 60%;
    justify-content: flex-start;
    margin: 0;
    flex-flow: row;
}

.SearchField form {
    width: 100%;
}


.SearchField form input[type='text'] {
    margin: 0;
    height: 50px;
    width: 100%;
    color: #00080c;
    font-size: 1.5em;
    background: #e9f4f4;
    box-shadow: 1px 2px 7px #00273f;
    border-radius: 0px;
}

.SearchField form input[type='text']:focus {
    background: #edf9f9;
    box-shadow: 1px 3px 7px #00273f;
    outline: none;
}

.SearchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    min-height: 40px;
    height: 40px;
    width: 40px;
    color: white;
    cursor: pointer;
}

.Toolbar .Search {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    width: 200px;
    margin-right: 15px;
}

.Toolbar .Search .form_container {
    flex-flow: row;
    align-items: center;
    justify-content: center;
    border: none;
    transition: width .5s ease-out;
}

.Toolbar .Search.hidden .form_container {
    width: 0;
    margin: 0;
}

.Toolbar .Search.visible .form_container {
    width: 100%;
    margin: auto;
}

.Toolbar .Search form {
    position: relative;
}

.Toolbar .Search input {
    margin: 0;
    background-color: #052842 !important;
    color: #ffffff;
    border: none;
    height: 25px;
    width: 100%;
}

.Toolbar .Search input:focus {
    background-color: #093251 !important;
    outline: none;
}

@media (max-width: 700px) {
    .SearchField article {
        width: 100%;
    }

    .Toolbar .Search {
        width: 100%;
    }

    .Toolbar .Search .form_container {
        width: 100%;
    }

    .Toolbar .Search form {
        align-items: flex-end;
        width: 100%;
    }


}
