.SearchField article {
    height: 100px;
    width: 60%;
    justify-content: flex-start;
    margin: 0;
    flex-flow: row;
}

.SearchField form {
    width: 100%;
}

.SearchField form input[type='text'] {
    margin: 0;
    border-bottom: 1px solid #7a0624;
    height: 50px;
    width: 100%;
    color: #00080c;
    font-size: 1.5em;
    background: #e9f4f4;
    box-shadow: 1px 2px 7px #00273f;
    border-radius: 0px;
}

.SearchField form input[type='text']:focus {
    background: #edf9f9;
    box-shadow: 1px 3px 7px #00273f;
    outline: none;
}

@media (max-width: 700px) {
    .SearchField article {
        width: 100%
    }
}
