@charset "UTF-8";


article.Businesses {
 padding: 0 20px;
 margin: auto;
}

.Businesses a {
    text-decoration: none;
}

.Businesses h4 {
  margin-bottom: 0;
}

.Businesses p {
  margin: 5px 0;
}


@media (min-width: 700px) {

   article.Businesses {
     width: 60%;
     margin-left: 0;
   }
}
