.toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #00396D;
  padding: 0 15px;
  position: fixed;
  top: 0;
  z-index: 99;
  margin-bottom: 10px;
}

.toolbar::after {
    content: "";
    -webkit-box-shadow: 3px 2px 2px 0px #00080C;
            box-shadow: 3px 2px 2px 0px #00080C;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
}
