.Toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00396D;
  width: 100%;
  height: 50px;
}

.Toolbar .Search .form_container {
    width: 250px;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    border: none;
}

.Toolbar form#search {
    position: relative;
}

.Toolbar .Search input {
    margin: 0;
    background-color: #052842 !important;
    color: #ffffff;
    border: none;
    height: 25px;
}

.Toolbar .Search input:focus {
    background-color: #093251 !important;
    outline: none;
}

.GettingStarted {
    margin-left: 50px;
}

@media (max-width: 700px) {
    .Toolbar nav ul {
        display: None;
    }
}
