.toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #00396D;
  padding: 0 15px;
  position: fixed;
  top: 0;
  z-index: 99;
  margin-bottom: 10px;
  -webkit-box-shadow: 3px 1px 3px #00080C;
          box-shadow: 3px 1px 3px #00080C;
}
