.Toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00396D;
  width: 100%;
  height: 50px;
}

.Toolbar.container {
    max-width: 100vw;
}

.GettingStarted {
    margin-left: 50px;
}

@media (max-width: 700px) {

    .Toolbar nav ul, .Toolbar #toolbarGetStarted {
        display: None;
    }
}
