.Business .BusinessThumbnail {
  width: 100%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  background-color: #dddddd;
  border-radius: 7px;
}

.Business .BusinessThumbnail .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 99%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
    background-color: #dae3e8;
    border-radius: 7px;
    text-align: center;
    color: #D1C695;
}
