.BusinessRegistrationForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 600px;
    max-height: 75%;
    width: 40%;
    max-width: 98%;
    min-width: 310px;
    overflow-y: scroll;
    background-color: #932142;
    color: white;
    z-index: 5001;
    transition: transform .3s ease-out;
    transform-origin: 35px 35px;
    transition-delay: .1s;
    border-radius: 9px;
}

.BusinessRegistrationForm.active {
    /* transform: scale(1) translateX(-50%) translateY(-50%); */
    animation: draw-out .5s ease-out forwards;
}

.BusinessRegistrationForm.inactive {
    /* transform: scale(0) translateX(-50%) translateY(-50%); */
    animation: draw-in .5s ease-out forwards;
}

@media (min-width: 700px) {
    .BusinessRegistrationForm.active {
        /* transform: scale(1) translateX(-50%) translateY(-50%); */
        animation: draw-out-large .5s ease-out forwards;
    }

    .BusinessRegistrationForm.inactive {
        /* transform: scale(0) translateX(-50%) translateY(-50%); */
        animation: draw-in-large .5s ease-out forwards;
    }
}

@keyframes draw-out {
    from {
        transform: scale(0) translateX(-50%) translateY(-50%);
        top: calc(100% - 135px);
        left: 75%;
    }

    to {
        transform: scale(1) translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;
    }
}

@keyframes draw-in {
    0% {
        transform: scale(1) translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;
    }

    30% {
        transform: scale(.7) translateX(-50%) translateY(-50%);
        top: 60%;
        left: 70%;
    }

    100% {
        transform: scale(0) translateX(-50%) translateY(-50%);
        top: calc(100% - 135px);
        left: 75%;
    }
}

@keyframes draw-out-large {
    from {
        transform: scale(0) translateX(-50%) translateY(-50%);
        top: calc(100% - 150px);
        left: 62.5%;
    }

    to {
        transform: scale(1) translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;
    }
}

@keyframes draw-in-large {
    0% {
        transform: scale(1) translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;
    }

    30% {
        transform: scale(.7) translateX(-50%) translateY(-50%);
        top: 60%;
        left: 70%;
    }

    100% {
        transform: scale(0) translateX(-50%) translateY(-50%);
        top: calc(100% - 150px);
        left: 62.5%;
    }
}

@media (min-width: 700px) {
    .CreateButton#business {
        top: calc(100% - 150px);
        left: 62.5%;
    }
}

.form_container {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #D1C695;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    -webkit-box-shadow: 2px 2px 4px 1px #9099A2;
            box-shadow: 2px 2px 4px 1px #9099A2;
}

.form_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    font-size: 1.3em;
    color: #D9FBFC;
}

form {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}

.form_container fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 10px;
    border: none;
    border-top: 1px dotted #D1C695;
    border-left: 1px dotted #D1C695;
    border-radius: 5px;
    background: transparent;
}

fieldset:last-child {
  background-color: transparent;
  border: none;
  width: 47%;
}

.form_container legend {
  font-style: italic;
  font-weight: bolder;
}

input:not([type='checkbox']) {
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #96858F;
  height: 35px;
  width: 100%;
  margin: 15px auto;
}

input[name=submit] {
  background-color: #998E39;
  border: none;
  padding: 5px;
  color: white;
  margin-left: 0;
  cursor: pointer;
}

input[name='submit']:hover {
  background-color: #7A7106;
}

input {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  padding-left: 5px !important;
}

input:focus {
  -webkit-box-shadow: 0px 0px 5px 1px #F7FCFC;
          box-shadow: 0px 0px 5px 1px #F7FCFC;
  outline: none;
}
