.FilterTools {
    display: flex;
    flex-flow: column;
    z-index: 5000;
}

.FilterTools form input {
    width: 100%;
    max-height: 25px;
    margin: 5px 0;;
}

.FilterHeader {
    position: relative;
    display: flex;
    align-items:center;
    padding: 0 5px;
    height: 30px;
    background-color: #1a90c4;
    margin-bottom: 5px;
    color: #d9fcfc;
    cursor: pointer;
    border-radius: 0px 5px 0px 5px;
}

.FilterHeader.inactive::after {
    content: '';
    position: absolute;
    right: 7px;
    top: 10.5px;
    border-top: 7px solid #d9fcfc;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

.FilterHeader.active::after {
    content: '';
    position: absolute;
    right: 7px;
    top: 5px;
    border-bottom: 7px solid #d9fcfc;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid transparent;
}

.FilterToolsForm {
    transition: height .5s ease-out;
    transform-origin: top;
}

.FilterHeader:hover, .FilterHeader.active {
    background-color: #bfb379;
}

.FilterHeader.inactive {
    background-color: #1a90c4;
}


.FilterToolsForm.active {
    /* height: 110px; */
    animation: open-down .3s ease-out;
    animation-fill-mode: forwards;
}

.FilterToolsForm.inactive {
    /* height: 0px; */
    animation: close-up .5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes open-down {
    from {
        height: 0px;
    }

    to {
        height: 110px;
    }
}

@keyframes close-up {
    from {
        height: 110px;
    }

    to {
        height: 0;
    }
}
