.Backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 499;
    background: #00273F;
    opacity: .9;
    transition: transform .1s ease-out;
    transform-origin: top right 2cm;
}

.Backdrop.active {
    transform: scale(1);
}

.Backdrop.inactive {
    transform: scale(0);
}


@media (min-width: 700px) {
    .Backdrop#SideDrawerBackDrop{
        display: None;
    }
}
