.Backdrop {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 499;
    background: #00273F;
    opacity: .6;
    transition: transform .1s ease-out;
    transform-origin: top right 2cm;
}

.Backdrop.active {
    transform: scale(1);
}

.Backdrop.inactive {
    transform: scale(0);
}
