.Toolbar .Logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
  color: #57CEE5;
}

.Logo img {
    height: 90%;
    width: 110px;
}

.Logo .synopsis {
    height: 70%;
    font-size: .9em;
    margin: 0 10px;
    font-weight: bolder;
}

.Logo .synopsis p {
    margin: 0;
}



@media (max-width: 940px) {
    .Logo {
        justify-content: space-between;
    }

    .Logo img {
        height: 90%;
        width: 100px;
    }

    .Logo .synopsis {
        display: None;
    }
}
