.content {
    margin-top: 70px;
    min-height: calc(100vh - 170px);
    position: relative;
    display: flex;
    justify-content: space-around;
}

.main-content {
    flex-basis: 100%;
    justify-content: space-between;
}
