
.toolbar nav ul li {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toolbar nav li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #F7FCFC;
  padding: 0 20px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.toolbar nav li a.active {
    background: #932142;
}

.toolbar nav li a:hover {
  background-color: #7A7106;
  color: white;
}

.toolbar nav li a:hover:after{
  content: '';
  width: 100%;
  border-bottom: 4px solid #57CEE5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: center;
  -webkit-animation: scaleBorder .3s linear;
          animation: scaleBorder .3s linear;
}

@-webkit-keyframes scaleBorder {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes scaleBorder {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
