
.NavigationItem {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NavigationItem a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #F7FCFC;
  padding: 0 20px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.NavigationItem a.active {
    background: #932142;
}

.NavigationItem a:hover {
  background-color: #8C8014;
  color: #8DEAF7;
}

.NavigationItem a:hover:after{
  content: '';
  width: 100%;
  border-bottom: 1px solid #57CEE5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: center;
  -webkit-animation: scaleBorder .3s linear;
          animation: scaleBorder .3s linear;
}

@-webkit-keyframes scaleBorder {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes scaleBorder {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@media (max-width: 700px) {
    .NavigationItem {
        width: 100%;
        height: 50px;
    }

    .NavigationItem a {
        width: 100%;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .NavigationItem a:hover {
        padding-left: 30px;
    }
}
