.SideDrawer {
    display: None;
    overflow: auto;
    font-size: .95em;
    font-weight: 500;
    -webkit-box-shadow: 1px 0px 7px #00080C;
            box-shadow: 1px 0px 7px #00080C;
    z-index: 5000;
    width: 325px;
    height: 100vh;
    position: fixed;
    top: 0;
    transition: transform .5s ease-out;
    padding-bottom: 15px;
}

.SideDrawer .wrapper {
    overflow: scroll;
    height: 100%;
}

.Open {
    transform: translateX(0);
}

.Closed {
    transform: translateX(-101%);
}

@media (max-width: 325px) {
    .SideDrawer {
        width: 275px;
    }
}

@media (max-width: 700px) {
    .SideDrawer {
        display: Flex;
        flex-flow: column;
        background-color: #00396D;
    }
}


.Profile {
    display: block;
    color: #BBF5F9;
    background: #8595A0;
    width: 100%;
    height: 230px;
}
