.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    padding: 0px 10px;
    box-sizing: border-box;
    font-size: .9em;
    border: 1px solid white;
    border-radius: 5px;
    background: transparent;
    color: white;
    cursor: pointer;
    margin-left: 15px;
    transition: all .1s;
}

.Button:hover{
    background:  #00273F;
}

.Button.dark, .Button.danger {
    height: 25px;
}

.Button.dark {
    background: #00273F;
}

.Button.dark:hover {
    background: #D1C695;
}

.Button.danger {
    background: #e8135a;
}

.Button.danger:hover {
    background: #932142;
}

.Button#toolbarGetStarted {
    background: #e8135a;
}

.Button#toolbarGetStarted:hover {
    background: #7a7106;
}
