.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    padding: 0px 10px;
    box-sizing: border-box;
    font-size: .9em;
    border: 1px solid white;
    border-radius: 5px;
    background: transparent;
    color: white;
    cursor: pointer;
    margin-left: 15px;
    transition: all .1s;
}

.Button:hover{
    background:  #00273F;
}

.Modal .Button {
    background: #00273F;
    height: 25px;
}

.Modal .Button:hover {
    background: #D1C695;
}
