.ReviewForm {
    transition: all .2s ease-out;
    transform-origin: top;
}

.ReviewForm.active {
    height: 170px;
    transform: scaleY(1);
}

.ReviewForm.inactive {
    height: 0px;
    transform: scaleY(0);
}

.ReviewForm input:focus {
    /* border: 1px solid black; */
    /* box-shadow: none; */
    outline: None;
    margin-left: 15px;
}

.ReviewForm input {
    width: 200px;
    margin: 10px 0;
}

.ReviewForm input:first-child {
    margin-right: 10px;
}
