.Business {
  height: 500px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-shadow: 0px 0px 1px 0px #96858F;
          box-shadow: 0px 0px 1px 0px #96858F;
  border-radius: 3px;
  margin-bottom: 30px;
  background: #FDFFFF;
  -webkit-animation: slide-up .8s ease-out;
          animation: slide-up .8s ease-out;
}

@-webkit-keyframes slide-up {
    from  {
        -webkit-transform: rotateX(-40deg) translateY(40px);
                transform: rotateX(-40deg) translateY(40px);
    }

    to {
        -webkit-transform: rotateX(0) translateY(0);
                transform: rotateX(0) translateY(0);
    }
}

@keyframes slide-up {
    from  {
        -webkit-transform: rotateX(-40deg) translateY(40px);
                transform: rotateX(-40deg) translateY(40px);
    }

    to {
        -webkit-transform: rotateX(0) translateY(0);
                transform: rotateX(0) translateY(0);
    }
}
