.Business {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-shadow: 0px 0px 1px 0px #96858F;
          box-shadow: 0px 0px 1px 0px #96858F;
  border-radius: 3px;
  margin: 15px 0;
  background: #FDFFFF;
}

.Business .main_content {
  padding: 15px;
}

.Business .quick_tools {
  height: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: .5px solid #e5e5e5;
}

.Business .quick_tools div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Business .quick_tools div:not(:last-child) {
  border-right: .5px solid #e5e5e5;
}

.Business .quick_tools p {
  color: #606060;
  font-size: .9em;
}

.Business .business_thumbnail {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  background-color: #96858F;
}

.Business .business_info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 25px;
}

.Business .business_thumbnail .image {
  width: 90px;
  height: 90px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: gray;
  border-radius: 50%;
  text-align: center;
  line-height: 90px;
  color: white;
}

.Business .business_info .business_category p {
    font-size: .8em;
    color: #595959;
}
