.Business {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-shadow: 0px 0px 1px 0px #96858F;
          box-shadow: 0px 0px 1px 0px #96858F;
  border-radius: 3px;
  margin-bottom: 45px;
  background: #FDFFFF;
  animation: slide-up .8s ease-out;
}

@keyframes slide-up {
    from  {
        transform: rotateX(-30deg) translateY(40px);
    }

    to {
        transform: rotateX(0) translateY(0);
    }
}
