footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background: #00273F;
}

footer .Copyright {
  font-size: .8em;
}

footer .Copyright p {
  color: #D9FCFC;
  text-shadow: 1px 1px black;
  margin: 0;
}
