.Toolbar nav {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  height: 100%;
  font-weight: 900;
  font-size: .9em;
}

.Toolbar nav ul {
  height: 100%;
  margin:0 0 0 auto;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Toolbar  *, .Toolbar *::after {
    margin: 0;
}
