/* dusty: #96858F
lavender: #6D7993
overcast: #9099A2
paper: #D5D5D5 */



/* @import "form.css";
@import "business_profile.css";
@import "navigation.css";
@import "business_listing.css"; */

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
    max-width: 100vw;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background: #e4ebef;
  position: relative;
  color: #00080C;
  font-weight:800;
  font-size: .85em;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  max-width: 100vw;
}

.container {
    max-width: 1280px;
    margin: 0 10px;
}


article:not([class='form_container']), article#info_wrapper, article.map {
  -webkit-box-shadow: 0px 0px 1px 0px #96858F;
          box-shadow: 0px 0px 1px 0px #96858F;
  border-radius: 5px;
}


article:not(:first-of-type), article#info_wrapper, article.map {
  margin-bottom: 30px;
  padding: 25px;
  background: white;
}

article:first-of-type {
  -webkit-box-shadow: none;
          box-shadow: none;
}

article.map {
  -webkit-box-shadow: 0px 0px 1px 0px #96858F;
          box-shadow: 0px 0px 1px 0px #96858F;
  border-radius: 5px;
}

article[class='form_container'] {
  padding: 0;
}


h2::before {
  content: '';
  display: inline-block;
  position: relative;
  top: 55px;
  -webkit-transform: translateY(-25px);
      -ms-transform: translateY(-25px);
          transform: translateY(-25px);
  height: 50px;
  width: 3px;
  background-color: #00273f;
  margin-right: 5px;
}

h1, h2, h3, h4 {
  color: #5b051d;
  font-size: 1.05em;
}


h2 {
  font-weight: 100;
  margin-bottom: 50px;
}

h3 {
  font-style: normal;
  color: #404040;
  font-weight: bolder;
}

h4, h2 {
  margin-top: 0;
}

body hr {
  height: 0px;
  border: .5px solid #D5D5D5;
}

.flex_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.flex_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.zeroBottom {
  margin-bottom: 0;
}

.draw-right {
  -webkit-animation: draw-right 1.2s;
          animation: draw-right 1.2s;
}

@-webkit-keyframes draw-right {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes draw-right {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
