.content {
    margin-top: 100px;
    min-height: calc(100vh - 170px);
    position: relative;
    display: flex;
    justify-content: space-around;
}

/* .content .main-content {
    flex-basis: 100%;
    justify-content: space-between;
} */

@media (min-width: 700px) {

    main > section {
        display: flex;
        flex-flow: row;
    }

    main > section > article {
        position: relative;
        left: 260px;
        width: 500px;
        /* flex-grow: 2; */
    }

    .SideElements {
        position: fixed;
        display: flex;
        flex-grow: 1;
        width: 230px;
        max-height: 800px;
        overflow-y: scroll;
        box-shadow: 0px 0px 1px 0px #96858F;
    }

    .SideElements .side-wrapper {
        background: #dae3e8;
        height: 100%;
        width: 100%;
        padding: 15px;
    }

    .Highlights {
        position: fixed;
        transform: translateX(calc(230px + 500px + 60px));
        width: calc(1080px - (230px + 500px + 60px));
        height: 300px;
        background: #dfe9ed;
        box-shadow: 0px 0px 1px 0px #96858F;
    }

    .Highlights .side-wrapper {
        padding: 15px;
        color: #1f3642;
    }
}
