.content {
    margin-top: 100px;
    min-height: calc(100vh - 170px);
    position: relative;
    display: flex;
    justify-content: space-around;
}


@media (min-width: 700px) {

    main > section {
        display: flex;
        flex-flow: row;
    }

    main > section > .middle-content {
        position: relative;
        left: 30px;
        width: 500px;
        /* flex-grow: 2; */
    }
}
