.jumbotron {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100vw;
  height: 400px;
  margin-bottom: 50px;
}
.jumbotron article {
    width: 100%;
    max-width: 1280px;
}

.BusinessProfileContent {
    margin-top: 450px;
}

div.business_details {
  position: relative;
  height: 100%;
  font-size: .9em;
  font-style: italic;
  color: #00396d;
  text-align: left;
  padding: 0px;
  background-image: url('/src/assets/background.jpg');
  background-size: 70% 100%;
  background-position: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  /* box-shadow: 1px 1px 3px #00080c; */
}

div.business_details span {
  font-weight: bolder;
  color: #00273f;
}

.quick_details {
  position: absolute;
  top:50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #f2eee4;
  padding: 25px 10px;
  width: 40%;
  min-width: 350px;
  box-shadow: 1px 1px 2px 0px #352f02;
  z-index: 25;
}

.quick_details div p {
  font-size: 1.1em;
}

.quick_details h3 {
  font-style: normal;
  color: #5b051d;
  font-weight: bolder;
  font-size: 1.5em;
  text-transform: uppercase;
}

.background_overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: #bbf5f9;
  /* background: linear-gradient(90deg,
                              rgba(133, 149, 160, 1) 0%,
                              rgba(133, 149, 160, .8) 50%,
                              rgba(133, 149, 160, 0) 100%), */
              /* linear-gradient(180deg,
                              rgba(87, 206, 229, 1) 0%,
                              rgba(87, 206, 229, .3) 20%,
                              rgba(87, 206, 229, 0) 100%), */
              /* transparent; */
  background-blend-mode: multiply;
  z-index: -100;
}

.detailed_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

.detailed_info .info_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.info_heading .icon, .info_heading .title {
    height: 40px;
}

.info_heading .icon {
  width: 40px;
  border-radius: 50%;
  background: #d1c695;
  text-align: center;
  line-height: 40px;
  margin-right: 15px;
  color: white;
}

.info_heading .title h3, .detailed_info .description p{
  margin: 0;
}

.detailed_info .description {
  margin-left: 55px;
}

.detailed_info p {
  font-size: .9em;
  color: #595959;
}

.detailed_info > div {
  margin-bottom: 35px;
}

.social_media {
  /* position: absolute;
  right: 0;
  bottom: 0; */
  justify-content: flex-start;
  align-items: flex-end;
}

.social_media div {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
}

.social_media div:first-child {
    border-left: 1px solid #eae5d3;
}

.more_detail .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.more_detail .description div {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.more_detail h4 {
  margin: 0;
  font-size: .95em;
}


.prompt_review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 7px;
  font-size: .9em;
}

.prompt_review .prompt {
  color: #606060;
}

.prompt_review .button {
  background: #96858F;
  cursor: pointer;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  color: white;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.prompt_review .button:hover {
  border-radius: 10px;
  background-color: #6D7993;
}

.reviews ul {
  list-style-type: none;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 25px;
  box-shadow: 1px 2px 5px #b2a559;
}

.review .review_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .9em;
  background-color: #dae3e8;
  height: 45px;
  color: #00273f;
}

.review_head div {
  padding: 5px;
}

.review_head .user_name {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.review_head .rating {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.review .review_body {
    color: red;
  background-color: #f9f7f2;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.review_body q {
  color: #00273f;
  font-size: .8em;
}

article.map {
  width: 100%;
}

#map {
  width: 40%;
  height: 350px;
}

@media (min-width: 600px) {
  .review {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }

 .review .review_head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: auto;
    max-width: 150px;
  }
}

@media (min-width: 800px) {
  .review .review_head {
     width: 100px;
   }
}
