
.UserRegistrationForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 600px;
    max-height: 75%;
    width: 40%;
    max-width: 98%;
    min-width: 310px;
    overflow-y: scroll;
    background-color: #932142;
    color: white;
    z-index: 5001;
    transition: transform .3s ease-out;
    transform-origin: 35px 35px;
    transition-delay: .1s;
    border-radius: 9px;
}
